@media screen and (max-width:576px) {
    .nav {
        flex-direction: column;
      
    }
    .nav > ul { 
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }
    .header-section h1 { 
        font-size: 2rem;
    }
    .team {
        display: block;
    }
    .team-img-first-row, .team-img-second-row {
        grid-template-columns: repeat(1, 1fr);
    }
    .right-about-team h4 {
        font-size: 1.8rem;
    }
    /* Feature */
    .feature-body {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .button-wrapper {
        margin-left: 0;
    }
    .button-wrapper > button {
        position: relative;
        top: 1.5rem;
    }

    /* Fact down by down */
    .some-facts h3 { 
        text-align: center;
    }
    .fact-txt {
        width: 100%;
        text-align: center;
    }
    .boxes { 
        display: grid;
        grid-template-columns: 10rem;
        gap: 40px;
    }
    .boxes h5 {
        font-size: 1.5rem;
    }

    .sponser-img-container { 
        display: grid;
        grid-template-columns: 90px;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    /* form fill */
    form {
        width: 100%;
    }
    /* Side by side to block input */
    .paralal-inpt {
        display: flex;
        flex-direction: column;
        row-gap: 0;
    }
   

    /* Footer paragraph res */
    .footer p {
        padding: 10px;
     }

}
