* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #131313;;
    --header-bg:  #ff900e1a;
    --anchor-text: #424242;
    --header-h3: #131313;
    --header-p: #727272;
    --primary-bg: #FF900E;
  }
/* Section Shrining css */
.header-section, .main, .footer {
    width: 85%; 
    margin: 0 auto;
}
/* Header Design */
.header {
    background: var(--header-bg);
    padding-top: 0.8rem;
    padding-bottom: 2rem;
}
.brading-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width:65%;
    margin: 2.5rem auto;
}
.header-section h3 {
    font-size: 1.55rem;
    color: var(--header-h3);
}
.header-section h1 {
    color: var(--header-h3);
    font-size: 3rem;
    text-align: center;

}
.header-section p {
    color: var(--header-p);
    text-align: center;
    font-size: 1rem;
}
.header-section button, .right-about-team button {
    background: var(--primary-bg);
    color: var(--white);
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    align-self: center;
    
}
/* Navbar design */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > ul {
    display: flex;
    gap: 40px;
}
.nav > ul > li {
    list-style: none;
}
.nav > ul > li a {
    text-decoration: none;
    color: var(--anchor-text);
}

.brand-img img, .team img, .features img, .sponser-img-container img  {
    width: 100%;
}
/* Team */
.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1.5rem;
}

.team-img-first-row, .team-img-second-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0.5rem 0;
}
.right-about-team h4 {
    font-size: 2.5rem;
    color: var(--black);
}
.differ-color-1 {
    color: var(--header-p);
}
.differ-color-2 {
    color: var(--primary-bg);
}
.right-about-team p {
    color: var(--header-p);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* features image fluid with team image */
.features {
    position: relative;
}
.feature-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 13%;
}
.button-wrapper > button {
    background: var(--primary-bg);
    color: var(--white);
    border-radius: 4px;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    
    
}
.btn-span {
    font-size: 2rem;
    font-weight: 900;
}
.feature-left h2 {
    font-size: 2rem;
    color: var(--black);
    border-left: .3rem solid var(--primary-bg);
    padding-left: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
.feature-left > p { 
    color: var(--header-p);
    font-size: .9rem;
    margin-bottom: 1rem;
}
.card {
    border-radius: .2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
}
.card h6 {
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 0.4rem ;
}
.card p {
    font-size: .8rem;
    color: var(--header-p);
}

/* some facts */
.some-facts {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.some-facts h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 0.5rem;
}
.fact-txt {
    width: 65%;
    color: var(--header-p);
    font-size: .8rem;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 20px 5px;
    gap: .4rem;
    flex: 1 1 0px;
    transition: transform 0.3s;
    /* width: 0; */
}
.box:hover {
    background: rgb(246, 206, 206);
    cursor: pointer;
    transform: scale(1.2)
}
.boxes img {
    width: 45px;
    height: 45px;
}
.boxes h5 {
    font-size: 2.5rem;
    color: var(--anchor-text);
}
.boxes p {
    color: var(--header-p);
    font-size: 0.8rem;
}


/* Sponser Sections */
.sponsers h3 {
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.sponsers p {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--header-p);
}
.sponser-img-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 5rem;

}
.sponser-img-container img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
/* Contact Section */
.contact-us {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-us h3 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--black);
 }
.contact-us p {
    margin: 1rem 0;
    font-size: 0.8rem;
    text-align: center;
    color: var(--header-p);
}
form {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
}

input[type="text"] {
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 10px;
    border: 0;
    font-size: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.paralal-inpt {
    display: flex;
    gap: 1rem;
}
input[type="email"], input[type="number"]  {
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 10px;
    border: 0;
    font-size: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    flex: 1;
}
textarea {
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 10px;
    border: 0;
    font-size: 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}
input[type="button"] {
    background: var(--primary-bg);
    color: var(--white);
    border-radius: 4px;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    margin-top: 0.5rem;
 }

input::placeholder, textarea::placeholder { 
    color: var(--white);
  }

/* Footer section */
.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer p {
    padding: 20px;
    text-align: center;
    color: #424242;
}

