* {
    margin: 0;
    padding: 0;
}
/* Section Shrining css */
.header-section, .main, .footer {
    width: 85%;
    border: 1px solid black;
    background-color: aqua;
    margin: 0 auto;
}
/* Header Design */
.header {
    background: rgba(255, 144, 14, 0.1);
}
/* Navbar design */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > ul {
    display: flex;
}
.nav > ul > li {
    list-style: none;
}
.nav > ul > li a {
    text-decoration: none;
}
/* Brand Images design */
.brand-img > img {
    width: 100%;
}
/* Team */
.team {
    display: flex;
    align-items: center;
    gap: 30px;
}
.team img, .features img  {
    width: 100%;
}
.team-img-first-row, .team-img-second-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
}

/* features image fluid with team image */

